body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 0, 0.493);
}

h1 {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 50px;
  letter-spacing: 10px;
  color: rgb(255, 0, 0);
}

#game {
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  background-color: rgb(65, 62, 62);
  margin: auto;
  border-radius: 20px;
}
